:root {
    --color-primary: rgb(118, 70, 255);
    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f8f9fa;
    --color-grey-light-3: #E3E6F4;
    --color-grey-light-4: #ccc;
    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;
    --color-danger: #EF4136;
    --color-success: #18BC9C;
    --color-warning: #F9CB40;
    --shadow-dark-2: 0 .1rem .3rem rgba(0, 0, 0, 0.1);
    --shadow-dark-1: 0 1px 2px rgba(0, 0, 0, 0.15);
    --shadow-dark-3: 0 2px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.07);
    --shadow-dark-4: 0 .8rem 1.5rem rgba(0, 0, 0, 0.15);
    --gradiant-primary: linear-gradient(to right bottom, #8d54e9, #4777e6);
}